<script>
  window.onload = function() {
    showSuccess();
  };
</script>


<header>
<div class="container">

  <div class="profile">
    <div class="profile-image">
      <div class="image_outer_container">
        <input type="button" [ngClass]="player.attendence?'green_icon':'red_icon'" (click)="markAttendence()">
        <div class="image_inner_container">
          <img src="../../../assets/images/user-profiles.png"/>
        </div>
      </div>
    </div>

    <!-- <div class="profile-user-settings">

      <h1 class="profile-user-name">{{username}}</h1>

    </div> -->

    <div class="profile-stats">

      <ul>
        <li><span class="profile-stat-count">Name: </span> <strong>{{ player.name }}</strong></li>
        <br>
        <li><span class="profile-stat-count">Username: </span>{{ player.username }}</li>
        <br>
        <li><span class="profile-stat-count">User: </span>{{ player.role }}</li>
        <br>
        <li><span class="profile-stat-count">Email: </span>{{ player.email }}</li>
        <br>
        <li><span class="profile-stat-count">Ranking: </span>{{ player.playerRanking }}</li>
        <br>
        <li><span class="profile-stat-count">Status: </span>{{player.attendence?'Online':'Offline'}}</li>
      </ul>

    </div>

  </div>
  <hr>
  <!-- End of profile section -->

</div>
<!-- End of container -->
</header>

<ng-container *ngIf="!prioritySubmit">
  <div class="card mb-5">
    
    <h5 style="text-align: center;">Select games priorities!<p>Each game is of 30 minutes.</p></h5>
    <div class="card-block p-0">
    <table class="table table-bordered table-sm m-0">
      
      <thead class="">
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>Priority</th>
        </tr>
      </thead>
      <ng-container *ngFor="let interest of player.Interests;">
      <tbody>
        <tr>
          <td>
            <h6>{{ interest.name }}</h6>
          </td>
          <td>
            <h6>{{ interest.level }}</h6>
          </td>
          <td>
              <select name="priority" class="select-css2" (change)="selectPriority(interest.name, $event)">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
          </td>
        </tr>
      </tbody>
    </ng-container>
    </table>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" (click)="savePriorities()"/>
  </div>
</ng-container>

<ng-container *ngIf="prioritySubmit">
  <div class="card mb-5">
    
    <h5 style="text-align: center;">Your schedule!</h5>
    <div class="card-block p-0">
    <table class="table table-bordered table-sm m-0">
      
      <thead class="">
        <tr>
          <th>Day</th>
          <th>Time</th>
        </tr>
      </thead>
      <ng-container *ngFor="let schedule of player.schedule;">
      <tbody>
        <tr>
          <td>
            <h6>{{ schedule.name }}</h6>
          </td>
          <td>
            {{ schedule.time.hour }} : {{ schedule.time.minute }} hours to {{schedule.time.hour + 1}} : {{schedule.time.minute }} hours
          </td>
        </tr>
      </tbody>
    </ng-container>
    </table>
    </div>
  </div>
</ng-container>
