<h1 class="page-header">Dashboard</h1>

<div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
</div>

<ng-container *ngIf="!lastLogin">
	<h5 style="text-align: center;">Select your Weekly schedule! <p>Each slot is of 1 hour!</p></h5>
            <div class="card-block p-0">
            <table class="table table-bordered table-sm m-0">
                
                <thead class="">
                    <tr>
                        <th>Select</th>
                        <th>Day</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let day of weekdays;">
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" (change)="selectDay(day.name)">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>
                            <h6>{{day.name}}</h6>
                        </td>
                        <td>
                            <ng-container *ngIf="day.status">
								<ngb-timepicker [(ngModel)]="day.time"></ngb-timepicker>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
			</table>
			<br>

			<div class="outer">
				<div class="col-md-4">
					<form>
						<h5>Select your level</h5>
						<div class="form-check">
							<label>
								<input class="form-check-input" type="radio" value="beginner" [(ngModel)]="playerRanking" name="gob" value="1" [checked]="true" 
								(change)="setPlayerRanking($event.target.value)"/><span class="label-text">Beginner</span>
							</label>
						</div>
						<div class="form-check">
							<label>
								<input class="form-check-input" type="radio" value="medium" [(ngModel)]="playerRanking" name="gob" value="2" [checked]="true" 
								(change)="setPlayerRanking($event.target.value)"/> <span class="label-text">Medium</span>
							</label>
						</div>
						<div class="form-check">
							<label>
								<input class="form-check-input" type="radio" value="advance" [(ngModel)]="playerRanking" name="gob" value="3" [checked]="true" 
								(change)="setPlayerRanking($event.target.value)"/><span class="label-text">Advance</span>
							</label>
						</div>
					</form>
				</div>
				
				<div class="col-md-4">
					<form>
						<h5>Select your oppenents level</h5>
						<div class="form-check">
							<label>
								<input class="form-check-input" type="radio" value="beginner" [(ngModel)]="opponentRanking" name="gob" value="1" [checked]="true" 
								(change)="setOpponentRanking($event.target.value)"/><span class="label-text">Beginner</span>
							</label>
						</div>
						<div class="form-check">
							<label>
								<input class="form-check-input" type="radio" value="medium" [(ngModel)]="opponentRanking" name="gob" value="2" [checked]="true" 
								(change)="setOpponentRanking($event.target.value)"/><span class="label-text">Medium</span>
							</label>
						</div>
						<div class="form-check">
							<label>
								<input class="form-check-input" type="radio" value="advance" [(ngModel)]="opponentRanking" name="gob" value="3" [checked]="true" 
								(change)="setOpponentRanking($event.target.value)"/><span class="label-text">Advance</span>
							</label>
						</div>
					</form>
				</div>
			</div>
			<br>
			<div class="card mb-5">
	
				<h5 style="text-align: center;">Select your interests!</h5>
				<div class="card-block p-0">
				<table class="table table-bordered table-sm m-0">
					
					<thead class="">
						<tr>
							<th>Select</th>
							<th>Name</th>
							<th>Level</th>
						</tr>
					</thead>
					<ng-container *ngFor="let game of games;">
					<tbody>
						<tr>
							<td>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" (change)="selectGame(game.name)">
									<span class="custom-control-indicator"></span>
								</label>
							</td>
							<td>
								<h6>{{game.name}}</h6>
							</td>
							<td>
								<ng-container *ngIf="game.status">
									<select name="difficulty" (change)="selectLevel(game.name, $event)">
										<option value=-1>Select a Level!</option>
										<option value="beginner">Beginner</option>
										<option value="medium">Medium</option>
										<option value="advance">Advance</option>
									</select>
								</ng-container>
							</td>
						</tr>
					</tbody>
				</ng-container>
				</table>
				</div>
			</div>

			<input [disabled]="!selectSchedule || !selectPlayerRanking || !selectOpponentRanking || !selectInterests" type="submit" class="btn btn-primary" value="Submit" (click)="saveSchedule()"/>

			<br>
			<br>
		</div>

	</ng-container>